@font-face {
  font-family: 'iconfont-nav';
  src:  url('~@/assets/icons/iconfont-nav.woff') format('woff'), 
        url('~@/assets/icons/iconfont-nav.ttf') format('truetype');
}
@font-face {
  font-family: 'iconfont-search';
src:  url('~@/assets/icons/iconfont-search.ttf') format('truetype');
}